* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div#auth-navigation {
	padding: 15px;
	background-color: #999;
}

div#auth-navigation ul li {
	display: inline-block;
	margin-left: 20px;
}

div#auth-navigation ul li a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

div#auth-navigation ul li a:hover {
	color: lightblue;
	transition: 0.2s;
}

div#auth-register-container, div#auth-login-container, div#contact-form-container {
	width: 600px;
	height: 600px;
	margin-top: 50px;
	margin-left: 50px;
	border: 2px solid black;
	box-shadow: 15px 15px 10px #999;
	float: left;
}

div#name-container, div#email-container, div#password-container {
	margin-left: 25px;
	margin-top: 30px;
	width: 550px;
	height: 85px;
	padding: 10px;
	border: 1px solid black;
}

div#message-container {
	margin-left: 25px;
	margin-top: 30px;
	width: 550px;
	height: 200px;
	padding: 10px;
	border: 1px solid black;
}

div#message-container textarea {
	width: 525px;
	height: 140px;
	padding: 5px;
	resize: none;
}

#name, #email, #password {
	width: 525px;
	padding: 5px;
}

div#name-container label, div#email-container label, div#password-container label, div#message-container label {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

input[type=text]:focus, input[type=password]:focus, div#message-container textarea:focus {
	outline: none;
}

div#image-container {
	float: left;
	margin-top: 50px;
	margin-left: 200px;
	position: relative;
}

div#image-container img {
	width: 900px;
	height: 600px;
}

div#previous-button-container {
	position: absolute;
	top: 300px;
	left: 30px;
}

div#previous-button-container button, div#next-button-container button {
	padding: 5px 12px;
	font-size: 30px;
}

div#next-button-container {
	position: absolute;
	top: 300px;
	left: 830px;
}

div#register-button-container, div#login-button-container, div#forgot-password-button-container, div#contact-button-container {
	margin-left: 25px;
	margin-top: 30px;
}

div#register-button-container button, div#login-button-container button, div#forgot-password-button-container button, div#contact-button-container button {
	padding: 10px 20px 10px 20px;
	background-color: white;
	border: 1px solid black;
	width: 550px;
}

div#register-button-container button:hover, div#login-button-container button:hover, div#forgot-password-button-container button:hover, div#contact-button-container button:hover {
	background-color: lightblue;
	color: white;
	transition: 0.3s;
}

span#name-error-container, span#email-error-container, span#password-error-container, span#message-error-container {
	color: red;
	padding: 2px;
}

.error-wrapper {
	border: 1px solid red;
}

div#homepage-navigation {
	background-color: #999;
}

div#homepage-navigation ul li {
	display: inline-block;
	margin-left: 30px;
	padding: 10px;
}

div#homepage-navigation ul li a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

div#homepage-navigation ul li a:hover {
	color: lightblue;
	opacity: 0.2s;
}

#user-info {
	margin-left: 1300px !important;
	position: relative;
}

#user-info-details {
	position: absolute;
	background-color: #999;
	top: 41px;
	left: -28px;
	width: 138px;
}

#user-info-details li {
	padding: 6px;
}

div#login-link-container {
	margin-left: 281px;
	margin-top: 10px;
}

div#login-link-container a, div#register-link-container a, div#forgot-password-link-container a {
	color: blue;
	text-decoration: none;
}

div#login-link-container a:hover, div#register-link-container a:hover, div#forgot-password-link-container:hover {
	text-decoration: underline;
}

div#register-link-container {
	margin-left: 274px;
	margin-top: 10px;
}

div#forgot-password-link-container {
	margin-left: 245px;
	margin-top: 10px;
}

div#user-flash-message {
	border: 1px solid black;
	width: 300px;
	height: 40px;
	padding: 10px;
	margin-left: 800px;
	margin-top: 20px;
	text-align: center;
	background-color: #7FFFD4;
}

div#container-for-password-label-register, div#container-for-password-label-login {
	float: left;
}

div#show-password-container-register, div#show-password-container-login {
	margin-left: 409px;
}

div#forgot-password-form-container {
	width: 600px;
	height: 200px;
	margin-top: 50px;
	margin-left: 50px;
	border: 2px solid black;
	box-shadow: 15px 15px 10px #999;
	float: left;
}

div#mail-sent-container {
	margin-top: 45px;
	color: green;
	font-size: 20px;
}

div#cookie-consent-container {
	position: absolute;
	width: 100%;
	padding: 12px;
	top: 0;
	background-color: #999;
	color: white;
}

div#cookie-consent-container a {
	color: lightblue;
}

div#cookie-consent-container button {
	margin-left: 200px;
	padding: 5px;
}

div#cookie-consent-content {
	margin-top: 20px;
	margin-left: 35px;
}

div.cookie-consent-details {
	margin-top: 20px;
	text-align: justify;
	width: 1000px;
}

div.cookie-consent-details h4 {
	margin-bottom: 10px;
}

div.cookie-consent-details p {
	padding-left: 16px;
}